Button:hover {
    -fx-background-color: #303a44;
    -fx-translate-y: 2;
    -fx-text-fill:  #e1a6ad;
}

Button {
    -fx-background-color:  #3D4956;
}

Button#logoutBtn:hover {
    -fx-background-color: red;
}

VBox {
    -fx-background-color: red;
}
ChoiceBox .context-menu{
    -fx-background-color: #c4c4cc;
    -fx-font-family: "Harlow Solid Italic";
    -fx-font-size: 14;
    -fx-text-fill: black;
}
ChoiceBox .menu-item:focused {
    -fx-text-fill: #e1a6ad;
}
ChoiceBox .menu-item > .label {
    -fx-text-fill: black;
}
ChoiceBox .menu-item:focused > .label {
    -fx-text-fill: #e1a6ad;
}

