Button:hover {
    -fx-background-color: #303a44;
    -fx-translate-y: 2;
    -fx-text-fill:  #e1a6ad;
}

Button {
    -fx-background-color:  #3D4956;
}

Button#logoutBtn:hover {
    -fx-background-color:  #3D4956;
     -fx-translate-y: 2;
    -fx-text-fill:  #e1a6ad;
}

VBox {
    -fx-background-color: red;
}

.tableview .column-header,.tableview .filler{
    -fx-background-color: #c4c4cc;
}