anchorPane {
    -fx-background-color: #f0f0f8;
    -fx-font-family: AppleGothic Regular;
    -fx-font-size: 15;
    -fx-text-fill: black;
}

TextField, ChoiceBox{
    -fx-background-color: #c4c4cc;
    -fx-font-size: 14;
    -fx-text-fill: black;
}
Button {
    -fx-background-color: #3D4956;
    -fx-font-size: 12;
    -fx-text-fill: white;
}
Button:hover {
    -fx-background-color: #313c48;
    -fx-scale-y: 1;
}

Button#yesBtn, Button#noBtn {
    -fx-background-color: #ecd5dc;
    -fx-font-family: AppleGothic Regular;
    -fx-font-size: 12;
    -fx-text-fill: white;
}
Button#yesBtn:hover, Button#noBtn:hover {
    -fx-background-color: #e1a6ad;
    -fx-scale-y: 1;
}